@model IEnumerable<Pet>

<h2>Pets</h2>

<div style="display: block">
    <a href="/Pet/InsertPet/">Add a New Pet</a>
</div>

<table class="table">
    <tr>
        <th>Pet ID</th>
        <th>Name</th>
        <th>Animal</th>
        <th>Owner</th>
    </tr>

    @foreach (var pet in @Model)
    {
        <tr>
            <td><a href=/Pet/ViewPet/@pet.idpet>@pet.idpet</a></td>
            <td><a href=/Pet/ViewPet/@pet.idpet>@pet.pet_first_name @pet.pet_last_name</a></td>
            <td>@pet.pet_type</td>
            <td>@pet.owner_last_name, @pet.owner_first_name</td>
        </tr>
    }

</table>