@model Pet

<h2>Add a New Pet</h2>

@using (Html.BeginForm("InsertPetToDatabase", "Pet", "Post"))
{
    <input asp-for="idpet" type="hidden" value="@Model.idpet" />

    <label asp-for="pet_first_name" class="control-label">First Name</label>
    <input type="text" name="name" class="form-control" value="@Model.pet_first_name" />

    <label asp-for="pet_last_name" class="control-label">Last Name</label>
    <input type="text" step="0.01" name="surname" class="form-control" value="@Model.pet_last_name" />

    <label asp-for="pet_type" class="control-label">Animal Type</label>
    <input type="text" step="0.01" name="type" class="form-control" value="@Model.pet_type" />

    <div class="form-group">
        <label for="">Select an Owner</label>
        <select class="form-control" name="idowner" value="">
            @foreach (var owner in Model.Owners)
            {
                <option value="@owner.idowner">@owner.owner_last_name, @owner.owner_first_name</option>
            }
        </select>
    </div>

    <input type="submit" value="Create Pet" class="btn btn-primary" />
}