@model Pet

<h2>@Model.pet_first_name @Model.pet_last_name</h2>

<table class="table">
    <tr>
        <th>Pet ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
    </tr>

    <tr>
        <td>@Model.idpet</td>
        <td>@Model.pet_first_name</td>
        <td>@Model.pet_last_name</td>
        <td>@Model.pet_type</td>
    </tr>


</table>